[user]
	name = Brian C. Van Essen
	email = vanessen1@llnl.gov
[push]
	default = simple
[credential]
	helper = store --file ~/.git-credentials
[diff]
	tool = opendiff
[core]
	editor = emacs -nw
	excludesfile = /Users/vanessen1/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
